@import "../../style/variables.scss";

.contextMenu{
    position: absolute;
    display: flex;
    z-index: 5;
    flex-direction: column;
    background-color: rgb($tertiary);
    -webkit-box-shadow: 0.5px 0.5px 20px -8px rgba($background,0.75);
    -moz-box-shadow: 0.5px 0.5px 20px -8px rgba($background,0.75);
    box-shadow: 0.5px 0.5px 20px -8px rgba($background,0.75);

    button{
        border: none;
        padding: 0.5rem;
        width: 12rem;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        background-color: rgb($tertiary);
        color: $text;

        img{
            width: 1rem;
            grid-column: span 2;
            box-sizing: content-box;
            filter: $icon;
        }
        p{
            grid-column: span 3;
            text-align: left;
            justify-self: flex-start;
            font-weight: bold;
        }
        
        p.extendText{
            grid-column: span 5;
            justify-content: center;
        }


        span{
            grid-column: span 2; // changed from span 4 to span 2
            text-align: right;
            justify-self: flex-end;
            opacity: 0.5;
            color: $text;
        }

        &:hover{
            background-color: rgb($secondary);
        }
    }

}
