@import "../style/fileTransferDialog.module.scss";



.fileTranferProgressInnerContainer{
    background-color: rgb($background);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30rem;
    height: 20rem;
    padding: 0rem 3rem;
    justify-content: space-evenly;

    h3{
        width: 80%;
        height: fit-content;
        margin-bottom: 1em;
    }

    
}

.fileTransferProgressData{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $text;

    h3{
        font-size: 16pt; 
        text-align: left;  
        width: 100%; 
        font-weight: bold;
    }

    img{
        width: 1rem;
        margin-left: 2em;
        padding: .5rem;
        background-color: transparent;
        filter: $whiteIcon;
        border-radius: 30%;

        &:hover{
            background-color: rgba($secondary,0.2);
        }
    
    }

    p{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.fileTransferProgressBar{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    div{
        display: flex;
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
    }

    progress{
        width: 100%;
        height: 2rem;
        background-color: invert($text);
        border: none;

        &::-webkit-progress-value {
            background-color: rgb($secondary);
        }

        &::-moz-progress-bar {
            background-color: rgb($secondary);
        }
        
    }

    
}

.fileTransferProgressButtonContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;

    .abortButton:hover{
        background-image: none;
            background-color: $red;
            color: white;
    }

    button{
        width: 45%;
        height: 3em;
        border: none;
        border: 1.5px solid rgb($secondary);
        color: rgb($secondary);
        background-color: rgb($background);

        &:hover{
            background-image: url("/dist/sidebar_button_background.png");
            background-size: 100% 100%;
            border: none;
            color: invert($text);

        }



    }

    
}
