@import "../style/fileTransferDialog.module.scss";



.fileTranferProgressInnerContainer{
    background-color: rgb($background);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;
    height: 20em;
    justify-content: space-evenly;

    h3{
        width: 80%;
        height: fit-content;
        margin-bottom: 1em;
    }

    
}

.fileTransferProgressData{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $text;
}

.fileTransferProgressBar{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    div{
        display: flex;
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
    }

    progress{
        width: 80%;
        height: 2rem;
        background-color: invert($text);
        border: none;

        &::-webkit-progress-value {
            background-color: rgb($secondary);
        }

        &::-moz-progress-bar {
            background-color: rgb($secondary);
        }
        
    }

    
}

.fileTransferProgressButtonContainer{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
