@import "../../../shared/style/variables.scss";

.ItemDetailTopView{
    display: flex;
    position: sticky;
    z-index: 1;
    top: 0;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: .5rem 2rem;
    min-width: 50rem;
    border:none;
    background-color: rgb($background);
    color: $text;
    
    &:hover{
        background-color: inherit;
        color: $text;
    }


    .itemName *{
        text-align: left;
    }

    .imageContainer{
        width: 3rem;
        padding: 0.5rem;
        
        img{
            width: 60%;
            height: auto;
        }
    }

    .itemDetails{
        margin-left:5%;
        width: 100%;
        display: grid;
        grid-template-columns: 2fr repeat(3, 1fr) 2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        justify-items: start;

        *{
            width: 100%;
            text-align: left;
        }

        .fileInfoTextLast{ 
            justify-self: end;
            grid-column: span 1;
            text-align: right; 
            width: 100%; 
        }
    }

}

.isSelectedItem{
        background-color: rgba($tertiary,.8);
        color: black;

} 
