@import "../../../../shared/style/variables.scss";

.directoryItemTile{
    width: 100%;
    padding: 0.5em;
    border: none;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: $text;
    
    &:hover{
        background-color: $tertiary;
        color: $text;
    } 

    .itemDetails{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        div{
            display: flex;
            flex-direction: row;
            padding-top: 1em;
            *{
                margin-right: 1em;
            }
        }
    }

    p.fileName{
        font-size: 12pt;
        font-weight: bold;
        word-break: break-all;
        text-align: left;
    }

    .fileTypeText{
        font-size: 12pt;
        opacity: 0.7;
    }

    .hidden{
        display: none;
    }

    .imageContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2em 0;
        height: 7.5em;
        background-color: $tertiary;

        .itemImage{
        display: flex;
        max-width: 80%;
        max-height: 80%;
        object-fit: contain;
        justify-content: center;
        align-items: center;
    }
    }

    

    
}

.isSelectedItem{
        background-color: $tertiary;
        color: $text;

} 




