@import './core/shared/style/variables.scss';



body{
  width: 100vw;
  
}

*{
  padding: 0px;
  margin: 0px;
  font-family: 'Calibri';
  user-select: none;

}

.hidden{
    display: none;
}

.applicationContainer{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - var(--navBarHeight));
  overflow-y: hidden;
  margin-top: var(--navBarHeight);
  background-color: $background;
  
} 

::-webkit-scrollbar {
    width: 0;
    height: 0;
}
