@import './core/shared/style/variables.scss';

/* Regular */
@font-face {
    font-family: 'Cascadia Code';
    src: url('/fonts/cascadia/ttf/CascadiaCode.ttf') format('truetype'),
         url('/fonts/cascadia/woff2/CascadiaCode.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



body{
  width: 100vw;
  font-family: 'Cascadia Code', sans-serif;
}

h2{
  font-size: 24pt;
  font-weight: bold;
}

h3{
  font-size: 18pt;
  font-weight: bold;
}

h4{
  font-size: 14pt;
  font-weight: normal;
}

p,button{
  font-size: 12pt;
  font-weight: normal;
}


*{
  padding: 0px;
  margin: 0px;
  user-select: none;
  color: rgb($text);

}

.hidden{
    display: none;
}

.applicationContainer{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - var(--navBarHeight));
  overflow-y: hidden;
  margin-top: var(--navBarHeight);
  background-color: rgb($background);
  
} 

 ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        }

  ::-webkit-scrollbar-thumb{
      background-color: rgb($tertiary);
  }
