@import './core/shared/style/variables.scss';



body{
  width: 100vw;
  
}

*{
  padding: 0px;
  margin: 0px;
  font-family: 'Calibri';
}

.hidden{
    display: none;
}

.applicationContainer{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: var(--navBarHeight);
  
} 

::-webkit-scrollbar {
    width: 0;
    height: 0;
}
