@import "../../../../shared/style/variables.scss";

.directoryItemDetail{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-width: 50rem;
    padding: .5rem 2rem;
    border:none;
    background-color: inherit;
    color: rgb($text);

    &:hover{
        background-color: rgb($tertiary);
    }

    .itemName{
        width: 100%;
    }

    .itemName *{
        text-align: left;
        width: 100%;
    }

    .imageContainer{
        width: 3rem;
        padding: 0.5rem;
        background-color: $tertiary;
        box-sizing: content-box;
        
        img{
            width: 50%;
            height: auto;
        }
    }

    .itemDetails{
        margin-left:5%;
        width: 100%;
        display: grid;
        grid-template-columns: 2fr repeat(3, 1fr) 2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        justify-items: start;

        *{
            width: 100%;
            text-align: left;

        }

        .fileInfoTextLast{ 
            justify-self: end;
            grid-column: span 1;
            text-align: right; 
            width: 100%; 
        }

        input{
            background-color: transparent;
        }
    }

}

.isSelectedItem{
        background-color: rgb($tertiary);
        color: $text;

} 

.hiddenFile{
    opacity: 0.5;
}
