@import "../../../shared/style/variables.scss";

.sidebar{
    position: fixed;
    min-width: 10em;
    max-width: 15em;
    width: 30%;
    height: calc(100vh - var(--navBarHeight));
    margin: 0;
    padding: 5em 0 0;
    box-sizing: border-box;
    background-color: rgb($primary);
    overflow-y: auto;

    
}

.sidebarButtonGroup{
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child){
        border-bottom: 1px solid rgba(white,  0.5);
        padding-bottom: 2em;
    }
}

.sidebarGroupTitle{
    color: white;
    margin: 1em 0 .5em;
    align-self: flex-start;
    padding: 0 1em;
}

.sidebarLink{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: none;
    color: white;
    width: 90%;
    align-items: center;
    text-decoration: none;
    
    &:hover{
        background-image: url("/sidebar_button_background.png");
        background-size: 100% 100%;
    }

    p{
        text-align: left;
        width: 100%;
        color: $whiteIcon;
    }

    img{
        width: 1.5rem;
        padding: 1em;
        margin-right: 1em;
        filter: $whiteIcon;
    }
}