@import "../../../shared/style/variables.scss";

.sidebar{
    position: sticky;
    top: 0;
    min-width: 10em;
    max-width: 15em;
    width: 30%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: $primaryDarkBlue;
}