@import "../../style/fileTransferDialog.module.scss";

.fileTransferItemContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 5em;
    margin: 1em 0;
    justify-content: space-evenly;
}

.FileTransferItemProgressData{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em 0;

    progress{
        width: 60%;
        height: 1rem;
        background-color: #eee;
        border: none;

        &::-webkit-progress-value {
            background-color: $secondaryDarkBlue;
        }

        &::-moz-progress-bar {
            background-color: $secondaryDarkBlue;
        }
    }

    button{
        border: none;
        background-color: $secondaryDarkGray;
        padding: 0.5em;
        margin: 0 0.5em;

        &:hover{
            background-color: $secondaryDarkBlue;
            color: white;
        }
    }
}

