@import "../../../shared/style/variables.scss";

.directoryItem{
    width: 100%;
    padding: 0.5em;
    border: none;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    &:hover{
        background-color: $secondaryLightGrey;
        color: black;
    } 

    .itemDetails{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        div{
            display: flex;
            flex-direction: row;
            padding-top: 1em;
            *{
                margin-right: 1em;
            }
        }
    }

    p.fileName{
        font-size: 12pt;
        font-weight: bold;
        word-break: break-all;
    }

    .fileTypeText{
        font-size: 12pt;
        opacity: 0.7;
    }

    .hidden{
        display: none;
    }

    .imageContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2em 0;
        height: 7.5em;
        background-color: $secondaryLightGrey;

        .itemImage{
        display: flex;
        max-width: 80%;
        max-height: 80%;
        object-fit: contain;
        justify-content: center;
        align-items: center;
    }
    }

    

    
}

.isSelectedItem{
        background-color: rgba($secondaryDarkGray,.8);
        color: black;
    } 




